@model IEnumerable<MunicipalLibrary.Models.Libary>

@{
    ViewData["Title"] = "Libraries";
}

<h1>Libraries</h1>

<p>
    <a asp-action="CreateLibrary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                    @Html.ActionLink("הוספת מדף", "CreateShelf", new { id = item.Id }) |
                    @Html.ActionLink("הצגת מדפים", "Shelfs", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
